.cont{
padding:20px;
background:#0099FF;
width:800px;
min-height:0px;
margin:auto
}

.consulta{
background:#99FF00;
margin:auto;
width:300px;
min-height:0px;
}

.foto{
padding:10px;
background:#ddd;

}

.infor{

}
